<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 col-sm-12 offset-lg-2 offset-md-1">
        <div class="text-center mb-4">
            <i class="fa fa-github fa-4x mr-5"></i>
          <h1 class="h3">Buscador de usuarios de GitHub</h1>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Ingrese un nombre de usuario" [(ngModel)]="searchText">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" (click)="searchUser()">Buscar</button>
          </div>
        </div>
      </div>
    </div>
  
    <div *ngIf="userData">
      <p class="text-center">Usuarios encontrados: {{ totalUsers }}</p>
      <ul class="list-group">
        <li *ngFor="let user of userData.items" class="list-group-item justify-content-center">
            <a href="javascript:void(0)" (click)="openModal(user)">{{ user.login }} - ID: {{ user.id }}</a>
        </li>
      </ul>
  
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-4">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" href="#" (click)="previousPage()" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <span class="page-link">Pagina {{ currentPage }}</span>
          </li>
          <li class="page-item" [class.disabled]="currentPage * itemsPerPage >= totalUsers">
            <a class="page-link" href="#" (click)="nextPage()" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>